body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

header img {
    width: 80px;
    height: auto;
    display: block;
    margin: 0 auto;
}

h1 {
    color: #444;
    margin: 10px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #999;
    margin: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

.btn:active {
    background-color: #0056b3;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

#login-container, #register-container, #student-list, #requests {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: left;
}

#login-container form, #register-container form {
    display: flex;
    flex-direction: column;
}

#login-container label, #register-container label {
    margin-top: 10px;
    text-align: left;
}

#login-container input, #register-container input, table input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(100% - 22px); /* Border width 고려 */
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.alert.error {
    background-color: #f8d7da;
    color: #721c24;
}

.alert.success {
    background-color: #d4edda;
    color: #155724;
}
